.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 100px 40px 40px 40px;
  min-height: 500px;
  z-index: 2;
  position: relative;
  min-height: 100vh;
  background: var(--bg-container);

  @include breakpoint(mobile) {
    padding: 80px 20px 40px 20px;
  }
}

.container__inner {
  max-width: 900px;
  margin: 0 auto;
}

.tilt-bg {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;
  background: var(--bg-tilt);
  z-index: 1;
  -webkit-clip-path: polygon(0 0, 100% 22%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 60%, 100% 100%, 0 100%);
}

.ball {
  position: fixed;
  top: 75px;
  right: 4%;
  width: 170px;
  height: 170px;
  background: var(--bg-tilt);
  border-radius: 50%;
  z-index: 1;
  animation: ball 10s infinite;
  transform: translateX(0);
}

@keyframes ball {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.home {
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 0.6fr;

  @include breakpoint(mobile) {
    grid-template-columns: 1fr;
  }

  &__image {
    align-self: center;
    justify-self: end;
    background: #414141;
    padding: 8px;
    border-radius: 10px;
    max-width: 230px;
    max-height: 230px;
   
    @include breakpoint(mobile) {
      max-width: 170px;
      max-height: 170px;
      justify-self: start;
      grid-row: 1;
      margin-top: 24px;
      margin-bottom: 16px;
    }

    img {
      border-radius: 10px;
      margin: 0;
    }
  }
}

.main-title {
  display: inline-block;
  margin: 0;
  padding: 40px 0 20px 0;
  font-size: 3rem;
  color: var(--title-color);
  position: relative;

  @include breakpoint(mobile) {
    font-size: 2.6rem;
    padding: 0 0 20px 0;
  }

  &::after {
    content: "";
    position: absolute;
    background: var(--brand-color-opacity);
    bottom: 8px;
    width: 126px;
    height: 36px;
    right: -10px;
  }
}

.about-page {
  h2 {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 0.5rem;
    margin-top: 100px;

    @include breakpoint(mobile) {
      margin-top: 40px;
    }
  }
  a {
    &:hover {
      border-bottom: 2px solid var(--brand-color);
    }
  }
}

//bio
.bio__container {
  display: flex;
  padding-bottom: 42px;
  flex-wrap: wrap;

  @include breakpoint(mobile) {
    flex-direction: column;
  }

  &--content {
    margin: 0 0 0 32px;

    @include breakpoint(mobile) {
      margin: 0;
    }
  }
}

.social-container {
  display: flex;
  align-items: baseline;
}

.social-icons a {
  margin-right: 8px;
  padding: 8px;

  &:hover {
    background: var(--brand-color-opacity);
  }
}

// footer
.footer {
  text-align: center;
  padding: 1rem;
  z-index: 1;
  position: relative;
  color: var(--footer-text);
}
