.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 100px 40px 40px 40px;
  min-height: 500px;
  z-index: 2;
  position: relative;
  background: #ffffff;
  min-height: 100vh;

  @include breakpoint(mobile) {
    padding: 80px 20px 40px 20px;
  }
}

.container__inner {
  max-width: 900px;
  margin: 0 auto;
}

.tilt-bg {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;
  background: #f2f2f2;
  z-index: 1;
  -webkit-clip-path: polygon(0 0, 100% 22%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 60%, 100% 100%, 0 100%);
}

.ball {
  position: fixed;
  top: 75px;
  right: 4%;
  width: 170px;
  height: 170px;
  background: #f2f2f2;
  border-radius: 50%;
  z-index: 1;
  animation: ball 10s infinite;
  transform: translateX(0);
}

@keyframes ball {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.home {
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 0.6fr;

  @include breakpoint(mobile) {
    grid-template-columns: 1fr;
  }

  &__image {
    align-self: center;
    justify-self: end;

    @include breakpoint(mobile) {
      justify-self: start;
      grid-row: 1;
      margin-top: 40px;
    }

    img {
      max-width: 220px;
      max-height: 220px;
      border-radius: 10px;

      @include breakpoint(mobile) {
        max-width: 170px;
        max-height: 170px;
      }
    }
  }
}

.main-title {
  display: inline-block;
  margin: 0;
  padding: 40px 0 20px 0;
  font-size: 3rem;
  color: $mainTitleColor;
  position: relative;

  @include breakpoint(mobile) {
    font-size: 2.6rem;
    padding: 0 0 20px 0;
  }

  &::after {
    content: "";
    position: absolute;
    background: #8b000020;
    bottom: 8px;
    width: 126px;
    height: 36px;
    right: -10px;
  }
}

.about-page {
  h2 {
    border-bottom: 2px solid #ebebeb;
    padding-bottom: 0.5rem;
    margin-top: 100px;

    @include breakpoint(mobile) {
      margin-top: 40px;
    }
  }
  a {
    &:hover {
      border-bottom: 2px solid #8b0000;
    }
  }
}

// footer
.footer {
  text-align: center;
  padding: 1rem;
  z-index: 1;
  position: relative;
}

.footer span {
  color: #727272;
}
