.project {
  padding: 10px 16px;
  position: relative;
  display: grid;
  grid-template-columns: 40px 1fr 4fr;
  align-items: center;

  @include breakpoint(mobile) {
    grid-template-rows: 1fr;
  }

  &__state {
    font-size: 22px;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      display: block;
      color: var(--title-color);
      font-size: 1.1rem;
      font-weight: 600;
      margin: 0;
      display: flex;
      align-items: center;
    }
  }

  &__info {
    color: #727272;

    @include breakpoint(mobile) {
      grid-column: 1 / -1;
    }
  }
}

.projects__list {
  padding-bottom: 40px;
}

.projects-status {
  display: flex;

  @include breakpoint(mobile) {
    flex-direction: column;
  }

  p {
    margin: 0 16px 0 0;
  }

  span {
    font-size: 0.8rem;
    font-weight: 500;
  }
}

.project:hover {
  background: var(--hover-links);

  h3 {
    color: var(--brand-color);
  }
}

.home-projects {
  padding-top: 100px;
  padding-bottom: 50px;
}
