.btn-link {
  display: inline-block;
  background: var(--brand-color);
  padding: 0.4rem 0.9rem;
  border-radius: 5px;
  color: #f8f8f8;
  margin-right: 20px;
}

.btn-link:hover {
  background: rgba(139, 0, 0, 0.9);
}

%projectsBtns {
  background: transparent;
  border-radius: 5px;
  border: none;
  border: 2px solid var(--brand-color);
  color: var(--brand-color);
  cursor: pointer;
  padding: 0.4rem 0.9rem;
  margin-right: 10px;
  opacity: 0;
  transition: all 0.3s;

  &:hover {
    background: var(--brand-color);
    color: #fff;
    transition: all 0.3s;
  }
}

.source__btn,
.demo__btn {
  @extend %projectsBtns;
}

.newsletter-button {
  font-size: 20px;
  font-weight: 600;
  display: inline-flex;
  padding: 0.4rem 1rem;
  border-radius: 4px;
  background: var(--brand-color);
  color: #fff;

  &:hover {
    background: var(--hover-brand-color);
    color: #fff;
  }
}

.newsletter-button__subtitle {
  display: block;
  font-size: 13px;
  color: #727272;
  font-style: italic;
}
