.posts__grid {
  padding-top: 100px;
 
  @include breakpoint(mobile) {
    padding-top: 60px;
  }
}


.year-heading {
  position: relative;
  color: var(--brand-color);
  margin: 40px 0;

  &::after {
    content: '';
    position: absolute;
    bottom: 1px;
    width: 100%;
    height: 13px;
    left: 0;
    z-index: -1;
    background: var(--brand-color-opacity);
  }
}

.post__is-new-tag {
  font-size: 12px;
  background: var(--brand-color);
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  margin-right: 8px;
  height: 26px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post__link, .see-more-posts__link {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include breakpoint(mobile) {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.see-more-posts__link {
  // background: var(--see-more-link);
  padding: 16px 0;
  display: inline-flex;
  margin-top: 16px;

  :not(pre) > code[class*="language-"] {
    padding: 16px;
  }
}

.post__link:hover,
.post__link:active,
.post__link:focus {
  background: var(--hover-links);
}

.see-more-posts__link:hover,
.see-more-posts__link:active,
.see-more-posts__link:focus {
  // background: var(--hover-links);
  // background: var(--see-more-link);
}

.see-more-posts__link:hover::before,
.see-more-posts__link:hover::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 100%;
  // background: var(--hover-links);
  // background: var(--see-more-link);
}

.post__link:hover::before,
.post__link:hover::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 100%;
  background: var(--hover-links);
}

.see-more-posts__link:hover::before,
.post__link:hover::before {
  left: -12px;
}

.see-more-posts__link:hover::after,
.post__link:hover::after {
  right: -12px;
}

.post__head-wrapper {
  display: flex;
  align-items: center;
}

.post__date {
  color: #727272;
  white-space: nowrap;
  font-size: 0.9rem;

  @include breakpoint(mobile) {
    display: none;
  }
}

.post__link:hover .post__title {
  color: var(--brand-color);
}

.post__title {
  display: block;
  color: var(--title-color);
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
  padding: 1rem 0;

  @include breakpoint(mobile) {
    font-size: 1.1rem;
  }
}

.see-more-posts__link {
  .post__title {
    // color: #9f9f9f;
    color: var(--brand-color);
  }
}

.post__info {
  display: flex;
}

.post__tags {
  margin: auto;

  span {
    background: var(--tags-bg);
    padding: 6px 8px;
    border-radius: 4px;
    margin: 0 3px;
  }
}

.latest__post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  h2 {
    margin: 0;
  }

  a {
    display: block;
    color: var(--brand-color);

    &:hover {
      text-decoration: underline;
    }
  }
}

.tags-list {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  span {
    background: var(--tags-bg);
    padding: 6px 8px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.9rem;

    &:hover {
      background: var(--brand-color);
      color: #fff;
    }
  }
}

[data-value] {
  color: var(--brand-color);
}

[data-value="javascript"] {
  color: var(--brand-color);
}

[data-value="react"] {
  color: var(--brand-color);
}

[data-value="redux"] {
  color: var(--brand-color);
}

[data-value="tooling"] {
  color: var(--brand-color);
}

[data-value="css"] {
  color: var(--brand-color);
}
