.post__link {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;

  @include breakpoint(mobile) {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.post__link:hover,
.post__link:active,
.post__link:focus {
  background: var(--hover-links);
}

.post__link span {
  color: #727272;
  white-space: nowrap;
  font-size: 0.9rem;
  padding: 1rem 0 0 10px;

  @include breakpoint(mobile) {
    display: none;
  }
}

.post__link:hover .post__title {
  color: var(--brand-color);
}

.post__title {
  display: block;
  color: var(--title-color);
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
  padding: 1rem 0;

  @include breakpoint(mobile) {
    font-size: 1.1rem;
  }
}

.posts__grid {
  padding-top: 100px;
  @include breakpoint(mobile) {
    padding-top: 60px;
  }
}

.latest__post {
  display: flex;
  justify-content: space-between;

  a {
    display: block;
    background: var(--brand-color);
    padding: 0 0.7rem;
    border-radius: 4px;
    color: #fff;
    margin-left: 8px;
    font-weight: 600;

    &:hover {
      background: var(--hover-brand-color);
      color: #fff;
    }
  }
}
