.post__link {
  border-top: 2px solid #f0f0f0;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;

  display: flex;
  justify-content: space-between;
  padding: 0 16px;

  @include breakpoint(mobile) {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.post__link:hover,
.post__link:active,
.post__link:focus {
  background: #f2f2f2;
}

.post__link span {
  color: #727272;
  white-space: nowrap;
  font-size: 0.9rem;
  padding: 1rem 0 0 10px;

  @include breakpoint(mobile) {
    display: none;
  }
}

.post__link:hover .post__title {
  color: #8b0000;
}

.post__title {
  display: block;
  color: #333;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
  padding: 1rem 0;

  @include breakpoint(mobile) {
    font-size: 1.1rem;
  }
}

.posts__grid {
  padding-top: 100px;
  @include breakpoint(mobile) {
    padding-top: 60px;
  }
}

.latest__post {
  display: flex;
  justify-content: space-between;

  a {
    display: block;
    background: $brandColor;
    color: #8b0000;
    padding: 0 0.7rem;
    border-radius: 4px;
    border: 2px solid #8b0000;
    color: #fff;
    margin-left: 8px;
    font-weight: 600;

    &:hover {
      background: $hoverBrandColor;
      color: #fff;
    }
  }
}
