body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  margin: 0;
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  font-family: "Nunito", sans-serif;
  color: var(--title-color);

  // font-family: "Ubuntu", sans-serif;
  // font-weight: 500;
}

h2 {
  font-size: 1.7rem;
  color: var(--title-color);
}

p,
li {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.1rem;
  color: var(--text-color);

  @include breakpoint(mobile) {
    font-size: 1.1rem;
  }
}

code {
  font-family: "Maven Pro", sans-serif;
  font-size: 1.1rem;

  @include breakpoint(mobile) {
    font-size: 1.1rem;
  }
}

::selection {
  color: #f8f8f8;
  background: var(--brand-color);
}

ul {
  list-style: none;
  margin-top: 0;
}

ul li::before {
  content: "\2022";
  color: #666666;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

li {
  margin-bottom: 8px;
}

a {
  text-decoration: none;
  color: var(--brand-color);
  font-weight: 500;
  box-shadow: none;
}

blockquote {
  background: var(--bg-blockquote);
  padding: 1rem;
  border-left: 8px solid var(--border-blockquote);
}

.highlight-in-text {
  background: var(--highlight-text);
  padding: 4px;
  border-radius: 3px;
}

mark {
  background: #f5f5dc;
  padding: 4px;
  border-radius: 3px;
}

.code-title {
  padding: 0;
  margin: 0;
}

.caution-msg {
  background: var(--brand-color-opacity);
  padding: 5px;
}

.latest-posts {
  padding-bottom: 4rem;
  padding-top: 5.5rem;
}

.articles-head {
  padding-bottom: 40px;

  @include breakpoint(mobile) {
    padding-bottom: 10px;
  }
}

.favorite-links {
  &:hover {
    border-bottom: 2px solid var(--brand-color);
  }
}
