// breakpoints for mixin
$mobile: 650px;

// Typography
$font-size: 1rem;
$text-font-size: 1.1rem;

// Heading Typography --- slowly deprecate
$heading-1: 3rem;
$heading-2: 2rem;
$heading-3: 1.7rem;
$mobile-heading-1: 2.4rem;
$mobile-heading-2: 1.7rem;
$mobile-heading-3: 1.5rem;

$mainTitleColor: #333333;
$brandColor: #8b0000;
$hoverBrandColor: #710000;
$customRed: #8b0000;
$body-font-size: 1.15rem;
$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-color: #404040;
$light-font-color: rgba(0, 0, 0, 0.6);
$font-family: -apple-system, BlinkMacSystemFont, "Roboto", Helvetica Neue,
  Helvetica, Arial, sans-serif;
$line-height: 1.6;

$border-width: 2px;
$border-style: solid;
$border-color: #ccc;
$border-radius: 4px;
$borders: $border-width $border-style $border-color;
$box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.16);

$code-color: $font-color;
$code-size: 15px;
$code-family: Nunito, monospace;
$code-background: transparent;
$code-borders: $borders;

$code-font-family: monospace;
$code-font-color: #b3b9c5;
$string: #92d192;
$variable: #f2777a;
$property: #abb2bf;
$number: #fca369;
$operator: #ac8d58;
$punctuation: #d5d8df;
$comment: #777c85;
$function: #62cfcf;
$keyword: #ffeead;
$attribute: #ffd479;
$class: #e1a6f2;
$tag: #6ab0f3;
$error: #f2777a;

:root {
  // Headings
  --heading-1: 3rem;
  --heading-2: 2rem;
  --heading-3: 1.7rem;
  --base-typography: 1rem; 
  
  @include breakpoint(mobile) {
    --heading-1: 2.4rem;
    --heading-2: 1.7rem;
    --heading-3: 1.5rem;
    --base-typography: 1rem; 
  }
}

.light {
  background: #fff;

  --bg-container: #ffffff;
  --brand-color: #8b0000;
  --hover-brand-color: #710000;
  --brand-color-opacity: #8b000020;
  --bg-tilt: #f2f2f2;
  --text-color: hsla(0, 0%, 0%, 0.8);
  --title-color: #333;
  --nav-bg-opacity: rgba(255, 255, 255, 0.6);
  --nav-links: #444;
  --hover-nav-links-border: rgba(139, 0, 0, 0.3);
  --hover-nav-links-border-hover: rgba(139, 0, 0, 1);
  --hover-links: #f2f2f2;
  --border-color: #f0f0f0;
  --footer-text: hsla(0, 0%, 0%, 0.8);
  --bg-blockquote: #f5f5dc;
  --border-blockquote: #efa547;
  --highlight-text-bg: #f5f5dc;
  --tags-bg: #e8e5e5;
  --blockcode-bg: #f5f5dc;
  --social-icon-fill: #646464;
  --image-background: #cfcfcf;
  --image-background-secondary: #dddddd40;
  --see-more-link: #fbf9f9;
}

.dark {
  background: #2d2d2d;

  --bg-container: #2d2d2d;
  --brand-color: #4ad0d0;
  --hover-brand-color: #389696;
  --brand-color-opacity: #4ad0d020;
  --bg-tilt: #414141;
  --text-color: #fff;
  --title-color: #fff;
  --nav-bg-opacity: rgba(0, 0, 0, 0);
  --nav-links: #fff;
  --hover-nav-links-border: rgba(98, 209, 208, 0.3);
  --hover-nav-links-border-hover: rgba(98, 209, 208, 1);
  --hover-links: #211b1b;
  --border-color: #727272;
  --footer-text: #c7c7c7;
  --bg-blockquote: #191917;
  --border-blockquote: #389696;
  --highlight-text-bg: #414141;
  --tags-bg: #111;
  --blockcode-bg: #414141;
  --social-icon-fill: #b7b7b7;
  --image-background: #414141;;
  --image-background-secondary: #41414140;
  --see-more-link: #2a2828;
}
